/* RESET */

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	vertical-align: baseline;
}

/* WEBFONTS */

@font-face {
    font-family: 'diatype-regular';
    src: url('../fonts/ABCDiatype-Regular.woff') format('woff');
}

@font-face {
    font-family: 'diatype-heavy';
    src: url('../fonts/ABCDiatype-Heavy.woff') format('woff');
}

/* TYPOGRAPHY */

%extrasmall {
	font-size: $extrasmall;
	line-height: $extrasmall-lineh;
	letter-spacing: -0.2px;
	@include media-breakpoint-up(xl) { 
		font-size: $extrasmall-xl;
		line-height: $extrasmall-lineh-xl;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $extrasmall-sm;
		line-height: $extrasmall-lineh-sm;
	}
}

%small {
	font-size: $small;
	line-height: $small-lineh;
	letter-spacing: -0.5px;
	@include media-breakpoint-up(xl) { 
		font-size: $small-xl;
		line-height: $small-lineh-xl;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $small-sm;
		line-height: $small-lineh-sm;
	}
}

%medium {
	font-size: $medium;
	line-height: $medium-lineh;
	letter-spacing: -1px;
	@include media-breakpoint-up(xl) { 
		font-size: $medium-xl;
		line-height: $medium-lineh-xl;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $medium-sm;
		line-height: $medium-lineh-sm;
	}
}

%large {
	font-size: $large;
	line-height: $large-lineh;
	letter-spacing: -3px;
	@include media-breakpoint-up(xl) { 
		font-size: $large-xl;
		line-height: $large-lineh-xl;
		letter-spacing: -3px;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $large-sm;
		line-height: $large-lineh-sm;
	}
}

/* GRID */

.row {
	margin: 0px calc(-#{$spacer} / 4);
	@include media-breakpoint-up(xl) { 
		margin: 0px calc(-#{$spacer-xl} / 4);
	}
	@include media-breakpoint-down(sm) { 
		margin: 0px calc(-#{$spacer-sm} / 4);
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
		padding: 0px calc($spacer / 4);
		@include media-breakpoint-up(xl) { 
			padding: 0px calc($spacer-xl / 4);
		}
		@include media-breakpoint-down(sm) { 
			padding: 0px calc($spacer-sm / 4);
		}
	}
}

/* GLOBAL */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'diatype-heavy', Helvetica, sans-serif;
  @extend %extrasmall;
}

a, p {
	color: $color-black;
	text-decoration: none;
}

a:hover {
	color: $color-dark-grey;
}

/* HEADER */

body[data-template=home] {
	.top-header {
		// z-index: -1;
	}
	.site-header {
		// mix-blend-mode: difference;
		.header-title {
			color: $color-white;
		}
		.header-nav {
			.header-nav-inner {
				li {
					a {
						color: $color-white;
					}
				}
			}
		}
	}
}

.top-header {
	position: sticky;
	top: 0px;
	z-index: 1;
	height: calc($spacer * 6);
	background-color: $color-black;
	mix-blend-mode: difference;
	.top-header-bio {
		margin-bottom: calc($spacer * 2);
		p {
			margin-bottom: 0px;
			color: $color-white;
		}
	}
	.top-header-filters {
		p {
			@extend %small;
			margin-bottom: 0px;
			color: $color-white;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0px;
			padding: 0px;
			li {
				margin-right: $spacer;
				a {
					@extend %small;
					color: $color-white;
				}
			}
		}
	}
	.top-header-project {

	}
}

.site-header {
	display: flex;
    justify-content: space-between;
	position: sticky;
	top: calc($spacer * 6);
	z-index: 3;
	background-color: $color-black;
	mix-blend-mode: difference;
	.header-title {
		@extend %large;
		text-transform: uppercase;
		letter-spacing: -4px;
		margin: 0px;
		color: $color-white;
		&:hover {
			color: $color-dark-grey;
		}
	}
	.header-nav {
		.header-nav-inner {
			display: flex;
			justify-content: flex-end;
			margin: 0px;
			padding: 0px;
			li {
				margin-left: $spacer;
				a {
					@extend %large;
					color: $color-white;
					&:hover {
						color: $color-dark-grey;
					}
				}
			}
		}
	}
}

/* FOOTER */

.site-footer {
	padding-top: calc($spacer * 20);
	display: flex;
    justify-content: flex-start;
	p {
		margin-bottom: 0px;
	}
	.footer-bio {
		width: 270px;
		margin-right: calc($spacer * 2);
	}
	.footer-studio-address {
		width: 230px;
		margin-right: calc($spacer * 2);
	}
	.footer-workshop-address {
		width: 230px;
		margin-right: calc($spacer * 2);
	}
	.footer-social {
		width: auto;
		margin-right: calc($spacer * 2);
	}
	.footer-legal {
		width: auto;
		margin-right: calc($spacer * 2);
	}
}

/* HOMEPAGE */

.featured-projects-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0px calc(-#{$spacer} / 4);
	.featured-project {
		margin-bottom: calc($spacer * 6);
		padding: 0px calc($spacer / 4);
		&.columns-1 {
			width: calc(100% / 12);
		}
		&.columns-2 {
			width: calc(100% / 12 * 2);
		}
		&.columns-3 {
			width: calc(100% / 12 * 3);
		}
		&.columns-4 {
			width: calc(100% / 12 * 4);
		}
		&.columns-5 {
			width: calc(100% / 12 * 5);
		}
		&.columns-6 {
			width: calc(100% / 12 * 6);
		}
		&.columns-7 {
			width: calc(100% / 12 * 7);
		}
		&.columns-8 {
			width: calc(100% / 12 * 8);
		}
		&.columns-9 {
			width: calc(100% / 12 * 9);
		}
		&.columns-10 {
			width: calc(100% / 12 * 10);
		}
		&.columns-11 {
			width: calc(100% / 12 * 11);
		}
		&.columns-12 {
			width: 100%;
		}
		img {
			width: 100%;
			position: relative;
			z-index: 2;
		}
		.project-info {
			padding-top: calc($spacer / 2);
			p {
				@extend %extrasmall;
				.project-title {
					@extend %medium;
					line-height: 0.7;
				}
			}
		}
	}
}

.background-icon {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	img {
		width: calc($spacer * 6);
		height: auto;
	}
}

/* WORK */

.filters-group {
	display: flex;
	padding: 0px;
	margin: 0px;
	.taxonomy-label {
		margin-right: calc($spacer / 1);
	}
	li {
		display: flex;
		@extend %small;
		margin: 0px;
		text-transform: capitalize;
		cursor: pointer;
		color: $color-white;
		&.active {
			background-color: $color-light-grey;
			color: $color-black;
		}
	}
}

.page-work {
	padding-top: calc($spacer * 6);
	.projects-header {
		.column-button {
			cursor: pointer;
			&:hover {
				background-color: $color-light-grey;
				p {
					.sort-icon {
						display: inline;
					}
				}
			}
			&.sorted {
				p {
					.sort-icon {
						transform: rotate(0deg);
					}
				}
			}
			p {
				text-transform: uppercase;
				margin-bottom: 0px;
				.sort-icon {
					display: none;
					width: $spacer;
					transform: rotate(180deg);
					margin-top: -3px;
				}
			}
		}
	}
	.projects-list {
		.single-project {
			position: relative;
			z-index: 0;
			&:hover {
				z-index: 1;
				// mix-blend-mode: difference;
				a {
					z-index: 1;
					// mix-blend-mode: difference;
					p {
						color: $color-black;
					}
				}
				.single-thumbnail {
					opacity: 1;
					z-index: 0;
				}
			}
			a {
				position: relative;
				z-index: 0;
			}
			p {
				@extend %small;
				margin-bottom: 0px;
				color: $color-black;
			}
			.project-title {
				
			}
			.single-thumbnail {
				position: fixed;
				top: 0px;
				left: 0px;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				opacity: 0;
				pointer-events: none;
				width: 100vw;
				height: 100vh;
				padding: calc($spacer * 6);
				img {
					width: 100%;
					height: 100%;
					max-width: 100%;
					object-fit: contain;
				}
			}
		}
	}
}

/* ABOUT */

body[data-template=about] {
	.top-header {
		// background-color: $color-white;
	}
	.site-header {
		// background-color: $color-white;
	}
	.about-text {
		p {
			@extend %large;
			margin-bottom: 0px;
		}
	}
	.about-contacts {
		margin-top: $spacer;
		p:last-child {
			margin-bottom: 0px;
		}
		.contact-email {
			margin-bottom: $spacer;
			.label {
				text-transform: uppercase;
				margin-bottom: 0px;
			}
		}
		.contact-social {
			.label {
				text-transform: uppercase;
				margin-bottom: 0px;
			}
			.social-list {
				display: flex;
				flex-wrap: wrap;
				a {
					display: inline-block;
					margin-right: calc($spacer * 2);
					margin-bottom: 0px;
				}
			}
		}
	}
	.about-content {
		margin-bottom: calc($spacer * 8);
		img {
			width: 100%;
			position: relative;
			z-index: 2;
		}
		p {
			@extend %medium;
		}
	}
	.about-collaborations-press {
		.about-collaborations {
			margin-bottom: calc($spacer * 8);
			.label {
				text-transform: uppercase;
				margin-bottom: 0px;
				@extend %extrasmall;
			}
			p {
				@extend %medium;
			}
		}
		.about-press {
			margin-bottom: calc($spacer * 8);
			.label {
				text-transform: uppercase;
				margin-bottom: 0px;
				@extend %extrasmall;
			}
			p {
				@extend %medium;
			}
		}
	}
	.about-news {
		display: flex;
		flex-wrap: wrap;
		margin: 0px calc(-#{$spacer} / 4);
		.single-news {
			margin-bottom: calc($spacer * 6);
			padding: 0px calc($spacer / 4);
			&.columns-1 {
				width: calc(100% / 12);
			}
			&.columns-2 {
				width: calc(100% / 12 * 2);
			}
			&.columns-3 {
				width: calc(100% / 12 * 3);
			}
			&.columns-4 {
				width: calc(100% / 12 * 4);
			}
			&.columns-5 {
				width: calc(100% / 12 * 5);
			}
			&.columns-6 {
				width: calc(100% / 12 * 6);
			}
			&.columns-7 {
				width: calc(100% / 12 * 7);
			}
			&.columns-8 {
				width: calc(100% / 12 * 8);
			}
			&.columns-9 {
				width: calc(100% / 12 * 9);
			}
			&.columns-10 {
				width: calc(100% / 12 * 10);
			}
			&.columns-11 {
				width: calc(100% / 12 * 11);
			}
			&.columns-12 {
				width: 100%;
			}
			img {
				width: 100%;
			}
			.news-info {
				padding-top: calc($spacer / 2);
				p {
					@extend %extrasmall;
					.news-title {
						@extend %medium;
						line-height: 0.7;
					}
				}
			}
			.news-links {
				.news-link {
					display: flex;
					p {
						margin-bottom: 0px;
						span {
							margin-top: -2px;
							margin-right: calc($spacer / 2);
							display: inline-block;
						}
					}
					.link-text {
						display: flex;
						align-items: center;
					}
				}
			}
		}
	}
}

/* PROJECT */

body {
	.top-header {
		mix-blend-mode: difference;
    	background-color: $color-black;
		z-index: 3;
		.top-header-project {
			.header-content {
				p {
					color: $color-white;
				}
			}
			.header-label {
				p {
					color: $color-white;
				}
			}
		}
	}
	.white-header {
		background-color: #ffffff;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 140px;
		z-index: 1;
	}
}

body[data-template=default] {
	.top-header {
		mix-blend-mode: difference;
    	background-color: $color-black;
		z-index: 3;
		.top-header-project {
			.header-content {
				p {
					color: $color-white;
				}
			}
			.header-label {
				p {
					color: $color-white;
				}
			}
		}
	}
	.site-header {
		position: relative;
		top: 0px;
	}
	.white-header {
		background-color: #ffffff;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 140px;
		z-index: 1;
	}
}

.top-header-project {
	margin-bottom: calc($spacer * 2);
	.header-content {
		p {
			@extend %small;
			margin-bottom: 0px;
		}
	}
	.header-label {
		p {
			margin-bottom: 0px;
		}
	}
	.header-taxonomies {
		p {
			text-transform: capitalize;
		}
	}
}

.single-project {
	.project-title {
		mix-blend-mode: difference;
		// background-color: $color-black;
		position: sticky;
		top: calc($spacer * 6);
		z-index: 3;
		p {
			@extend %large;
			margin-bottom: calc($spacer / 2);
			color: $color-white;
		}
	}
	.project-header {
		.project-subtitle {
			p {
				@extend %medium;
				margin-bottom: 0px;
			}
		}
	}
	.project-blocks {
		margin-bottom: calc($spacer * 24);
		.project-block {
			.single-module {
				
			}
			.module-fullwidth-image {
				img {
					width: 100%;
					height: 50vw;
					object-fit: cover;
					position: relative;
					z-index: 2;
				}
				.caption {
					margin-bottom: calc($spacer * 4);
					position: relative;
					z-index: 0;
					p {
						margin-bottom: 0px;
					}
				}
			}
			.module-double-images {
				img {
					width: 100%;
					position: relative;
					z-index: 2;
				}
				.caption {
					margin-bottom: calc($spacer * 4);
					position: relative;
					z-index: 0;
					p {
						margin-bottom: 0px;
					}
				}
			}
			.module-text {
				position: relative;
				z-index: 0;
				p {
					@extend %medium;
					margin-bottom: 0px;
				}
			}
		}
	}
	.project-credits {
		.credits-group {
			margin-bottom: calc($spacer * 3);
			.credits-title {
				p {
					margin-bottom: 0px;
				}
			}
			.credits-content {
				p {
					margin-bottom: 0px;
					@extend %small;
				}
			}
		}
	}
	.project-files {
		position: fixed;
		top: calc($spacer / 4);
		right: calc($spacer / 4);
		z-index: 9999;
		// z-index: 2;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		.project-files-button {
			background-color: $color-light-grey;
			padding: calc($spacer / 2);
			display: flex;
			margin-bottom: 1px;
			box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
			cursor: pointer;
			&.opened {
				svg {
					&.closed-folder {
						display: none;
					}
					&.open-folder {
						display: inline;
					}
				}
			}
			svg {
				width: calc($spacer * 1.2);
				margin-right: calc($spacer / 2);
				&.closed-folder {
					display: inline;
				}
				&.open-folder {
					display: none;
				}
			}
			p {
				margin-bottom: 0px;
			}
		}
		.project-files-content {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			.files-group {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				.files-group-title {
					padding: calc($spacer / 2);
					margin-bottom: 1px;
					display: inline-flex;
					cursor: pointer;
					box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
					background-color: $color-white;
					&:hover {
						background-color: $color-light-grey;
					}
					p {
						margin-bottom: 0px;
					}
				}
				.files-group-list {
					.single-file {
						padding: calc($spacer / 2);
						margin-bottom: 1px;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						cursor: pointer;
						box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
						background-color: $color-white;
						margin-right: calc($spacer * 2);
						padding-right: calc($spacer * 2);
						&:hover {
							background-color: $color-light-grey;
						}
						&.active {
							padding-right: 0px;
							padding-left: calc($spacer * 2);
						}
						p {
							margin-bottom: 0px;
							font-family: 'diatype-regular', Helvetica, sans-serif;
						}
					}
				}
			}
		}
	}

}