/* RESET */

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	vertical-align: baseline;
}

/* WEBFONTS */

@font-face {
    font-family: 'diatype-regular';
    src: url('../fonts/ABCDiatype-Regular.woff') format('woff');
}

@font-face {
    font-family: 'diatype-heavy';
    src: url('../fonts/ABCDiatype-Heavy.woff') format('woff');
}

/* TYPOGRAPHY */

%ultrasmall {
	font-size: $ultrasmall;
	line-height: $ultrasmall-lineh;
	letter-spacing: -0.2px;
	@include media-breakpoint-up(xl) { 
		font-size: $ultrasmall-xl;
		line-height: $ultrasmall-lineh-xl;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $ultrasmall-sm;
		line-height: $ultrasmall-lineh-sm;
	}
}

%extrasmall {
	font-size: $extrasmall;
	line-height: $extrasmall-lineh;
	letter-spacing: -0.2px;
	@include media-breakpoint-up(xl) { 
		font-size: $extrasmall-xl;
		line-height: $extrasmall-lineh-xl;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $extrasmall-sm;
		line-height: $extrasmall-lineh-sm;
	}
}

%small {
	font-size: $small;
	line-height: $small-lineh;
	letter-spacing: -0.5px;
	@include media-breakpoint-up(xl) { 
		font-size: $small-xl;
		line-height: $small-lineh-xl;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $small-sm;
		line-height: $small-lineh-sm;
	}
}

%medium {
	font-size: $medium;
	line-height: $medium-lineh;
	letter-spacing: -1px;
	@include media-breakpoint-up(xl) { 
		font-size: $medium-xl;
		line-height: $medium-lineh-xl;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $medium-sm;
		line-height: $medium-lineh-sm;
	}
}

%large {
	font-size: $large;
	line-height: $large-lineh;
	letter-spacing: -3px;
	@include media-breakpoint-up(xl) { 
		font-size: $large-xl;
		line-height: $large-lineh-xl;
		letter-spacing: -3px;
	}
	@include media-breakpoint-down(sm) { 
		font-size: $large-sm;
		line-height: $large-lineh-sm;
		letter-spacing: -2px;
	}
}

/* GRID */

.row {
	margin: 0px calc(-#{$spacer} / 4);
	@include media-breakpoint-up(xl) { 
		margin: 0px calc(-#{$spacer-xl} / 4);
	}
	@include media-breakpoint-down(sm) { 
		margin: 0px calc(-#{$spacer-sm} / 4);
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
		padding: 0px calc($spacer / 4);
		@include media-breakpoint-up(xl) { 
			padding: 0px calc($spacer-xl / 4);
		}
		@include media-breakpoint-down(sm) { 
			padding: 0px calc($spacer-sm / 4);
		}
	}
}

/* GLOBAL */

* {
	&::selection {
		background-color: $color-black;
		color: $color-white;
	}
}

html {
	overflow-x: clip;
}

::-webkit-scrollbar {
	@include media-breakpoint-down(sm) { 
		width: 0;  /* Remove scrollbar space */
		background: transparent;  /* Optional: just make scrollbar invisible */
		display: none;
	}
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'diatype-heavy', Helvetica, sans-serif;
  @extend %extrasmall;
  background-color: $color-white;
  // overflow-x: hidden;
}

a, p {
	color: $color-black;
	text-decoration: none;
}

a:hover {
	color: $color-dark-grey;
}

.content {
	min-height: calc(100vh - 182px);
	padding-bottom: calc($spacer * 20);
	@include media-breakpoint-down(sm) { 
		min-height: calc(100vh - 182px);
		padding-bottom: calc($spacer-xl * 20);
	}
	@include media-breakpoint-down(sm) { 
		min-height: calc(100vh - 300px);
		padding-bottom: calc($spacer-sm * 20);
	}
}

.page {
	// overflow-x: hidden;
}

/* HEADER */

body[data-template=home] {
	.top-header {
		// z-index: -1;
	}
	.background-icon {
		@include media-breakpoint-down(sm) { 
			display: none;
		}
	}
	.site-header {
		// mix-blend-mode: difference;
		.header-title {
			color: $color-white;
			transition: color .1s;
			&:hover {
				color: $color-dark-grey;
			}
		}
		.header-nav {
			.header-nav-inner {
				li {
					a {
						color: $color-white;
						transition: color .1s;
						&:hover {
							color: $color-dark-grey;
						}
					}
				}
			}
		}
	}
}

.top-header {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 1;
	height: calc($spacer * 6);
	background-color: $color-black;
	mix-blend-mode: difference;
	@include media-breakpoint-up(xl) { 
		height: calc($spacer-xl * 6);
	}
	@include media-breakpoint-down(sm) { 
		height: calc($spacer-sm * 3);
		position: relative;
	}
	.top-header-bio {
		margin-bottom: calc($spacer * 2);
		@include media-breakpoint-up(xl) { 
			margin-bottom: calc($spacer-xl * 2);
		}
		@include media-breakpoint-down(sm) { 
			margin-bottom: calc($spacer-sm * 2);
		}
		p {
			margin-bottom: 0px;
			color: $color-white;
			@include media-breakpoint-down(sm) { 
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				-webkit-line-clamp: 3;
				text-overflow: ellipsis;
			}
		}
	}
	.top-header-filters {
		p {
			@extend %small;
			margin-bottom: 0px;
			color: $color-white;
			white-space: nowrap;
		}
		ul {
			display: flex;
			flex-wrap: nowrap;
			margin: 0px;
			padding: 0px;
			li {
				margin-right: $spacer;
				@include media-breakpoint-up(xl) { 
					margin-right: $spacer-xl;
				}
				@include media-breakpoint-down(sm) { 
					margin-right: $spacer-sm;
				}
				a {
					@extend %small;
					color: $color-white;
				}
			}
		}
	}
	.top-header-project {
		
	}
}

.site-header {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: calc($spacer * 6);
	z-index: 3;
	background-color: $color-black;
	mix-blend-mode: difference;
	&::-webkit-scrollbar { 
		display: none; 
	}
	@include media-breakpoint-down(sm) { 
		top: calc($spacer-xl * 6);
	}
	@include media-breakpoint-down(sm) { 
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		top: calc($spacer-sm * 3);
	}
	.header-title {
		@extend %large;
		text-transform: uppercase;
		letter-spacing: -4px;
		margin: 0px;
		color: $color-white;
		&:hover {
			color: $color-dark-grey;
		}
		@include media-breakpoint-down(sm) { 
			flex: 0 0 auto;
		}
	}
	.header-nav {
		.header-nav-inner {
			display: flex;
			justify-content: flex-end;
			margin: 0px;
			padding: 0px;
			li {
				margin-left: $spacer;
				@include media-breakpoint-down(sm) { 
					margin-left: $spacer-xl;
				}
				@include media-breakpoint-down(sm) { 
					margin-left: $spacer-sm;
				}
				a {
					@extend %large;
					color: $color-white;
					transition: color .1s;
					&[aria-current] {
						color: $color-dark-grey;
					}
					&.router-link-active {
						color: $color-dark-grey;
					}
					&:hover {
						color: $color-dark-grey;
					}
				}
			}
		}
		@include media-breakpoint-down(sm) { 
			flex: 0 0 auto;
		}
	}
}

/* FOOTER */

.site-footer {
	display: flex;
    justify-content: flex-start;
	@include media-breakpoint-down(sm) { 
	}
	@include media-breakpoint-down(sm) { 
		margin: 0px calc(-#{$spacer-sm} / 4);
		flex-wrap: wrap;
	}
	p {
		margin-bottom: 0px;
	}
	.footer-bio {
		width: 270px;
		margin-right: calc($spacer * 2);
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-xl * 2);
		}
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-sm * 2);
			width: calc(100% - (#{$spacer-sm} / 2));
			margin: 0px calc(#{$spacer-sm} / 4);
			margin-bottom: $spacer-sm;
		}
	}
	.footer-studio-address {
		width: 250px;
		margin-right: calc($spacer * 2);
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-xl * 2);
		}
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-sm * 2);
			width: calc(50% - (#{$spacer-sm} / 2));
			margin: 0px calc(#{$spacer-sm} / 4);
			margin-bottom: $spacer-sm;
		}
	}
	.footer-workshop-address {
		width: 250px;
		margin-right: calc($spacer * 2);
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-xl * 2);
		}
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-sm * 2);
			width: calc(50% - (#{$spacer-sm} / 2));
			margin: 0px calc(#{$spacer-sm} / 4);
			margin-bottom: $spacer-sm;
		}
	}
	.footer-social {
		width: auto;
		margin-right: calc($spacer * 2);
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-xl * 2);
		}
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-sm * 2);
			width: calc(50% - (#{$spacer-sm} / 2));
			margin: 0px calc(#{$spacer-sm} / 4);
		}
	}
	.footer-legal {
		width: auto;
		margin-right: calc($spacer * 2);
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-xl * 2);
		}
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-sm * 2);
			width: calc(50% - (#{$spacer-sm} / 2));
			margin: 0px calc(#{$spacer-sm} / 4);
		}
	}
}

/* HOMEPAGE */

body[data-template=home] {
	.content {
		padding-bottom: 50px;
	}
}

.projects-container {
	.featured-projects-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0px calc(-#{$spacer} / 4);
		@include media-breakpoint-down(sm) { 
			margin: 0px calc(-#{$spacer-xl} / 4);
		}
		@include media-breakpoint-down(sm) { 
			margin: 0px calc(-#{$spacer-sm} / 4);
		}
		.featured-project {
			margin-bottom: calc($spacer * 6);
			padding: 0px calc($spacer / 4);
			@include media-breakpoint-down(sm) { 
				margin-bottom: calc($spacer-xl * 6);
				padding: 0px calc($spacer-xl / 4);
			}
			@include media-breakpoint-down(sm) { 
				margin-bottom: calc($spacer-sm * 3);
				padding: 0px calc($spacer-sm / 4);
			}
			&.columns-1 {
				width: calc(100% / 12);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
			}
			&.columns-2 {
				width: calc(100% / 12 * 2);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: calc(100% / 12 * 6);
					}
				}
			}
			&.columns-3 {
				width: calc(100% / 12 * 3);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: calc(100% / 12 * 6);
					}
				}
			}
			&.columns-4 {
				width: calc(100% / 12 * 4);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: calc(100% / 12 * 6);
					}
				}
			}
			&.columns-5 {
				width: calc(100% / 12 * 5);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: calc(100% / 12 * 3);
					}
				}
			}
			&.columns-6 {
				width: calc(100% / 12 * 6);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: calc(100% / 12 * 3);
					}
				}
			}
			&.columns-7 {
				width: calc(100% / 12 * 7);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: calc(100% / 12 * 3);
						padding: 0px;
					}
				}
			}
			&.columns-8 {
				width: calc(100% / 12 * 8);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: 0px;
					}
				}
			}
			&.columns-9 {
				width: calc(100% / 12 * 9);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: 0px;
					}
				}
			}
			&.columns-10 {
				width: calc(100% / 12 * 10);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: 0px;
					}
				}
			}
			&.columns-11 {
				width: calc(100% / 12 * 11);
				@include media-breakpoint-down(sm) { 
					width: 100%;
				}
				img {
					@include media-breakpoint-down(sm) { 
						padding-right: 0px;
					}
				}
			}
			&.columns-12 {
				width: 100%;
			}
			img {
				width: 100%;
				position: relative;
				z-index: 2;
			}
			.project-info {
				padding-top: calc($spacer / 2);
				@include media-breakpoint-down(sm) { 
					padding-top: calc($spacer-xl / 2);
				}
				@include media-breakpoint-down(sm) { 
					padding-top: calc($spacer-sm / 2);
				}
				p {
					@extend %extrasmall;
					.project-title {
						@extend %medium;
						line-height: 0.7;
					}
				}
			}
		}
	}
}

.background-icon {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	img {
		width: calc($spacer * 6);
		height: auto;
		@include media-breakpoint-down(sm) { 
			width: calc($spacer-xl * 6);
		}
		@include media-breakpoint-down(sm) { 
			width: calc($spacer-sm * 6);
		}
	}
}

/* WORK */

.filters-group {
	display: flex;
	padding: 0px;
	margin: 0px;
	@include media-breakpoint-down(sm) { 
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
	}
	&::-webkit-scrollbar { 
		display: none;  
	}
	.taxonomy-label {
		margin-right: calc($spacer / 1);
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-xl / 1);
		}
		@include media-breakpoint-down(sm) { 
			margin-right: calc($spacer-sm / 1);
			flex: 0 0 auto;
		}
	}
	ul {
		@include media-breakpoint-down(sm) { 
			flex: 0 0 auto;
		}
		li {
			position: relative;
			display: inline-flex;
			@extend %small;
			margin: 0px;
			text-transform: capitalize;
			white-space: nowrap;
			cursor: pointer;
			color: $color-white;
			transition: color .1s;
			@include media-breakpoint-down(sm) { 
				display: flex;
			}
			&:before {
				z-index: -1;
				content: '';
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				width: 0;
				height: 100%;
				background-color: #313131;
				color: $color-white;
				transition: width .15s;
			}
			&:not(.active):hover {
				color: $color-dark-grey;
			}
			&.active:before {
				width: 100%;
			}
		}
	}
}

body[data-template=work] {
	.white-header {
		height: 136px;
		@include media-breakpoint-down(sm) { 
			height: 120px;
		}
	}
	.site-footer {
		display: none;
	}
}

.page-work {
	padding-top: calc($spacer * 6);
	@include media-breakpoint-down(sm) { 
		padding-top: calc($spacer-xl * 6);
	}
	@include media-breakpoint-down(sm) { 
		padding: 0px;
		position: relative;
	}
	.projects-header {
		.row {
			flex-wrap: nowrap;
		}
		@include media-breakpoint-down(sm) { 
			display: none;
		}
		.column-button {
			cursor: pointer;
			&:hover {
				background-color: $color-light-grey;
				p {
					.sort-icon {
						display: inline;
					}
				}
			}
			&.sorted {
				p {
					.sort-icon {
						transform: rotate(0deg);
					}
				}
			}
			p {
				text-transform: uppercase;
				margin-bottom: 0px;
				.sort-icon {
					display: none;
					width: $spacer;
					transform: rotate(180deg);
					margin-top: -3px;
				}
			}
		}
	}
	.projects-list {
		@include media-breakpoint-down(sm) { 
			min-height: 100vh;
		}
		.single-project {
			position: relative;
			z-index: 0;
			&:hover {
				a {
					p, span {
						color: $color-dark-grey;
						@include media-breakpoint-down(sm) { 
							color: $color-black;
						}
					}
				}
			}
			.row {
				flex-wrap: nowrap;
			}
			&.show-thumbnail {
			// &:hover {
				z-index: 1;
				// mix-blend-mode: difference;
				@include media-breakpoint-down(sm) { 
					z-index: 0;
				}
				a {
					z-index: 1;
					mix-blend-mode: difference;
					@include media-breakpoint-down(sm) { 
						mix-blend-mode: normal;
					}
					p {
						color: $color-dark-grey;
						@include media-breakpoint-down(sm) { 
							color: $color-black;
						}
					}
				}
				.single-thumbnail {
					opacity: 1;
					z-index: 0;
				}
			}
			a {
				position: relative;
				z-index: 0;
			}
			p, span {
				@extend %small;
				display: inline-block;
				margin-bottom: 0px;
				color: $color-black;
				@include media-breakpoint-down(sm) { 
					// color: $color-white;
				}
			}
			span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
				display: block;
			}
			.project-title {
				mix-blend-mode: difference;
				position: sticky;
				top: 60px;
				z-index: 3;
				span {
					// color: $color-white;
					&:after {
						// content: '';
						// background-color: black;
					}
				}
			}
			.project-place {
				mix-blend-mode: difference;
				position: sticky;
				top: 60px;
				z-index: 3;
				span {
					// color: $color-white;
					&:after {
						// content: '';
						// background-color: black;
					}
				}
				@include media-breakpoint-down(sm) { 
					display: none;
				}
			} 
			.project-client {
				mix-blend-mode: difference;
				position: sticky;
				top: 60px;
				z-index: 3;
				span {
					// color: $color-white;
					&:after {
						// content: '';
						// background-color: black;
					}
				}
				@include media-breakpoint-down(sm) { 
					display: none;
				}
			}
			.single-thumbnail {
				position: fixed;
				top: 0px;
				left: 0px;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				opacity: 0;
				pointer-events: none;
				width: 100vw;
				height: 100vh;
				padding: calc($spacer * 16);
				// background-color: $color-white;
				@include media-breakpoint-down(sm) { 
					padding: calc($spacer-xl * 6);
				}
				@include media-breakpoint-down(sm) { 
					display: none;
				}
				img {
					width: 100%;
					height: 100%;
					max-width: 100%;
					object-fit: contain;
				}
			}
		}
	}
	.mobile-projects-images {
		display: none;
		@include media-breakpoint-down(sm) { 
			display: block;
			position: fixed;
			bottom: 0;
			left: 0px;
			width: 100%;
			display: flex;
			background-color: $color-white;
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
		}
		.single-thumbnail {
			flex: 0 0 auto;
			img {
				height: calc($spacer * 12);
				margin-right: calc($spacer / 5);
			}
		}
	}
}

/* Safari 11+ */

@media not all and (min-resolution:.001dpcm) { 
	@supports (-webkit-appearance:none) and (stroke-color:transparent) {
		.page-work {
			.projects-list {
				.single-project {
					.project-title {
						span {
							color: $color-white;
						}
					}
					.project-place {
						span {
							color: $color-white;
						}
					} 
					.project-client {
						span {
							color: $color-white;
						}
					}
				}
			}
		}
	}
}

/* ABOUT */

.page-about {
	@include media-breakpoint-down(sm) { 
		padding: 0px;
	}
}

body[data-template=about] {
	.top-header {
		// background-color: $color-white;
	}
	.white-header {
		height: 136px;
		@include media-breakpoint-down(sm) { 
			height: 120px;
		}
	}
	.site-header {
		// background-color: $color-white;
	}
}
.about-text {
	p {
		@extend %large;
		margin-bottom: 0px;
		@include media-breakpoint-down(sm) { 
			font-size: 44px;
		}
	}
}
.about-contacts {
	margin-top: $spacer;
	@include media-breakpoint-down(sm) { 
		margin-top: $spacer-xl;
	}
	@include media-breakpoint-down(sm) { 
		margin-top: $spacer-sm;
	}
	p:last-child {
		margin-bottom: 0px;
		@include media-breakpoint-down(sm) { 
			margin-bottom: $spacer-sm;
		}
	}
	.contact-email {
		margin-bottom: $spacer;
		@include media-breakpoint-down(sm) { 
			margin-bottom: $spacer-xl;
		}
		@include media-breakpoint-down(sm) { 
			margin-bottom: $spacer-sm;
		}
		.label {
			text-transform: uppercase;
			margin-bottom: 0px;
		}
	}
	.contact-social {
		@include media-breakpoint-down(sm) { 
			margin-bottom: $spacer-sm;
		}
		.label {
			text-transform: uppercase;
			margin-bottom: 0px;
		}
		.social-list {
			display: flex;
			flex-wrap: wrap;
			@include media-breakpoint-down(sm) { 
				flex-direction: column;
			}
			a {
				display: inline-block;
				margin-right: calc($spacer * 2);
				margin-bottom: 0px;
				@include media-breakpoint-down(sm) { 
					margin-right: calc($spacer-xl * 2);
				}
				@include media-breakpoint-down(sm) { 
					margin-right: calc($spacer-sm * 2);
				}
			}
		}
	}
	.footer-studio-address {
		@include media-breakpoint-down(sm) { 
			margin-bottom: $spacer-sm;
		}
	}
	.footer-studio-workshop {
		@include media-breakpoint-down(sm) { 
			margin-bottom: $spacer-sm;
		}
	}
}
.about-content {
	margin-bottom: calc($spacer * 8);
	@include media-breakpoint-down(sm) { 
		margin-bottom: calc($spacer-xl * 8);
	}
	@include media-breakpoint-down(sm) { 
		margin-bottom: calc($spacer-sm * 4);
	}
	img {
		width: 100%;
		// position: relative;
		z-index: 2;
	}
	p {
		@extend %medium;
		@include media-breakpoint-down(sm) { 
			font-size: 23px;
		}
	}
}
.about-collaborations-press {
	.about-collaborations {
		margin-bottom: calc($spacer * 8);
		@include media-breakpoint-down(sm) { 
			margin-bottom: calc($spacer-xl * 8);
		}
		@include media-breakpoint-down(sm) { 
			margin-bottom: calc($spacer-sm * 4);
		}
		.label {
			text-transform: uppercase;
			margin-bottom: 0px;
			@extend %extrasmall;
		}
		&>div {
			&>a {
				display: none;
			}
		}
		p, span {
			@extend %medium;
			@include media-breakpoint-down(sm) { 
				font-size: 23px;
			}
		}
	}
	.about-press {
		margin-bottom: calc($spacer * 8);
		@include media-breakpoint-down(sm) { 
			margin-bottom: calc($spacer-xl * 8);
		}
		@include media-breakpoint-down(sm) { 
			margin-bottom: 0px;
		}
		.label {
			text-transform: uppercase;
			margin-bottom: 0px;
			@extend %extrasmall;
		}
		&>div {
			&>a {
				display: none;
			}
		}
		p, span {
			@extend %medium;
			@include media-breakpoint-down(sm) { 
				font-size: 23px;
			}
		}
	}
}
.about-news {
	display: flex;
	flex-wrap: wrap;
	margin: 0px calc(-#{$spacer} / 4);
	margin-bottom: $spacer*4;
	@include media-breakpoint-down(sm) { 
		margin: 0px calc(-#{$spacer-xl} / 4);
		margin-bottom: $spacer-xl*4;
	}
	@include media-breakpoint-down(sm) { 
		margin: 0px calc(-#{$spacer-sm} / 4);
		margin-bottom: $spacer-sm*4;
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		width: 100%;
		flex-wrap: nowrap;
	}
	.single-news {
		margin-bottom: 0px;
		padding: 0px calc($spacer / 4);
		@include media-breakpoint-down(sm) { 
			margin-bottom: 0px;
			padding: 0px calc($spacer-xl / 4);
		}
		@include media-breakpoint-down(sm) { 
			margin-bottom: 0px;
			padding: 0px calc($spacer-sm / 4);
			flex: 0 0 auto;
			white-space: initial;
		}
		&.columns-1 {
			width: calc(100% / 12);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-2 {
			width: calc(100% / 12 * 2);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-3 {
			width: calc(100% / 12 * 3);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-4 {
			width: calc(100% / 12 * 4);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-5 {
			width: calc(100% / 12 * 5);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-6 {
			width: calc(100% / 12 * 6);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-7 {
			width: calc(100% / 12 * 7);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-8 {
			width: calc(100% / 12 * 8);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-9 {
			width: calc(100% / 12 * 9);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-10 {
			width: calc(100% / 12 * 10);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-11 {
			width: calc(100% / 12 * 11);
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		&.columns-12 {
			width: 100%;
			@include media-breakpoint-down(sm) { 
				width: calc(100% / 12 * 9);
			}
		}
		img {
			width: 100%;
			position: relative;
				z-index: 2;
		}
		.news-info {
			padding-top: calc($spacer / 2);
			@include media-breakpoint-down(sm) { 
				padding-top: calc($spacer-xl / 2);
			}
			@include media-breakpoint-down(sm) { 
				padding-top: calc($spacer-sm/ 2);
			}
			p {
				@extend %extrasmall;
				.news-title {
					@extend %medium;
					line-height: 0.7;
				}
			}
		}
		.news-links {
			.news-link {
				display: flex;
				&:hover {
					color: $color-dark-grey;
					p {
						color: $color-dark-grey;
					}
				}
				p {
					margin-bottom: 0px;
					span {
						margin-top: -2px;
						margin-right: calc($spacer / 2);
						display: inline-block;
						@include media-breakpoint-down(sm) { 
							margin-right: calc($spacer-xl / 2);
						}
						@include media-breakpoint-down(sm) { 
							margin-right: calc($spacer-sm / 2);
						}
					}
				}
				.link-text {
					display: flex;
					align-items: center;
				}
			}
		}
		.news-downloads {
			.download-link {
				display: flex;
				&:hover {
					color: $color-dark-grey;
					p {
						color: $color-dark-grey;
					}
				}
				p {
					margin-bottom: 0px;
					span {
						margin-top: -2px;
						margin-right: calc($spacer / 2);
						display: inline-block;
						@include media-breakpoint-down(sm) { 
							margin-right: calc($spacer-xl / 2);
						}
						@include media-breakpoint-down(sm) { 
							margin-right: calc($spacer-sm / 2);
						}
					}
				}
				.download-text {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}

/* PROJECT */

body {
	.top-header {
		mix-blend-mode: difference;
    	background-color: $color-black;
		z-index: 2;
		.top-header-project {
			.header-content {
				p {
					color: $color-white;
				}
			}
			.header-label {
				p {
					color: $color-white;
				}
			}
		}
	}
	.white-header {
		background-color: #ffffff;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 136px;
		z-index: 1;
		@include media-breakpoint-down(sm) { 
			height: 120px;
		}
	}
}

body[data-template=default] {
	.top-header {
		mix-blend-mode: difference;
		background-color: $color-black;
		z-index: 3;
		@include media-breakpoint-down(sm) { 
			height: 40px;
		}
		.top-header-project {
			.header-content {
				p, span {
					color: $color-white;
				}
			}
			.header-label {
				p, span {
					color: $color-white;
				}
			}
		}
	}
	.site-header-project {
		position: relative;
		top: 0px;
		@include media-breakpoint-down(sm) { 
			position: sticky;
			top: 0px;
		}
	}
	.white-header {
		background-color: #ffffff;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 136px;
		z-index: 1;
		transition: height .25s;
		@include media-breakpoint-down(sm) { 
			// height: 120px;
			// display: none;
		}
	}
	.content {
		padding-bottom: 0px;
	}
}

.top-header-project {
	margin-bottom: calc($spacer * 2);
	@include media-breakpoint-down(sm) { 
		margin-bottom: calc($spacer-xl * 2);
	}
	@include media-breakpoint-down(sm) { 
		margin-bottom: calc($spacer-sm * 2);
	}
	&.top-header-project-desktop {
		display: block;
		@include media-breakpoint-down(sm) { 
			display: none;
		}
	}
	&.top-header-project-mobile {
		display: none;
		@include media-breakpoint-down(sm) { 
			display: block;
			z-index: 10;
		}
		.project-info-button {
			background-color: $color-light-grey;
			padding: calc($spacer-sm / 2);
			cursor: pointer;
			p {
				color: $color-black;
				margin-bottom: 0px;
				.arrow {
		
				}
			}
		}
		.project-info-content {
			// display: none;
			background-color: $color-light-grey;
			color: $color-black;
			height: calc(100vh - 34px);
			padding: $spacer-sm*2 calc($spacer-sm / 2);
			overflow-y: auto;
			.content-row {
				margin-bottom: $spacer-sm;
			}
			.header-label {
				margin-bottom: 0px;
			}
			.header-content {
				p, span {
					@extend %small;
					margin-bottom: 0px;
				}
			}
		}
	}
	.header-content {
		p, span {
			@extend %small;
			margin-bottom: 0px;
		}
	}
	.header-label {
		p, span {
			margin-bottom: 0px;
		}
	}
	.header-taxonomies {
		p, span {
			text-transform: capitalize;
		}
	}
	.header-category,
	.header-type-of-work {
		display: flex;
		gap: $spacer;
	}
}


.single-project-page {
	.project-title {
		mix-blend-mode: difference;
		// background-color: $color-black;
		position: sticky;
		top: calc($spacer * 6);
		z-index: 3;
		@include media-breakpoint-down(sm) { 
			top: calc($spacer-xl * 6);
		}
		@include media-breakpoint-down(sm) { 
			// top: 0px;
			// position: relative;
		}
		p, span {
			@extend %large;
			margin-bottom: calc($spacer / 2);
			color: $color-white;
			@include media-breakpoint-down(sm) { 
				margin-bottom: calc($spacer-xl / 2);
			}
			@include media-breakpoint-down(sm) { 
				margin-bottom: calc($spacer-sm / 2);
			}
		}
	}
	.project-header {
		.project-subtitle {
			p {
				@extend %medium;
				margin-bottom: 0px;
			}
		}
	}
	.project-blocks {
		margin-bottom: calc($spacer * 24);
		@include media-breakpoint-down(sm) { 
			margin-bottom: calc($spacer-xl * 24);
		}
		@include media-breakpoint-down(sm) { 
			margin-bottom: 0px;
		}
		.project-block {
			.single-module {
				
			}
			.module-fullwidth-image {
				// min-height: 50vw;
				img {
					width: 100%;
					// height: 50vw;
					object-fit: cover;
					position: relative;
					z-index: 2;
				}
				.caption {
					margin-bottom: calc($spacer * 4);
					position: relative;
					z-index: 0;
					@include media-breakpoint-down(sm) { 
						margin-bottom: calc($spacer-xl * 4);
					}
					@include media-breakpoint-down(sm) { 
						margin-bottom: calc($spacer-sm * 4);
					}
					p {
						margin-bottom: 0px;
					}
				}
			}
			.module-double-images {
				.double-image-column-container {
					@include media-breakpoint-down(sm) { 
						display: flex;
						overflow-x: auto;
						overflow-y: hidden;
						white-space: nowrap;
						width: 100%;
						flex-wrap: nowrap;
					}
					.double-image-column {
						@include media-breakpoint-down(sm) { 
							flex: 0 0 auto;
							white-space: initial;
						}
					}
				}				
				img {
					width: 100%;
					position: relative;
					z-index: 2;
				}
				.caption {
					margin-bottom: calc($spacer * 4);
					position: relative;
					z-index: 0;
					@include media-breakpoint-down(xl) { 
						margin-bottom: calc($spacer-xl * 4);
					}
					@include media-breakpoint-down(sm) { 
						margin-bottom: calc($spacer-sm * 4);
					}
					p {
						margin-bottom: 0px;
					}
				}
			}
			.module-text {
				position: relative;
				z-index: 0;
				p {
					@extend %medium;
					margin-bottom: 0px;
					@include media-breakpoint-down(sm) { 
						font-size: 23px;
					}
				}
			}
		}
	}
	.project-credits {
		margin-bottom: calc($spacer * 24);
		@include media-breakpoint-down(sm) { 
			margin-bottom: calc($spacer-xl * 24);
		}
		@include media-breakpoint-down(sm) { 
			display: none;
		}
		.credits-group {
			margin-bottom: calc($spacer * 3);
			@include media-breakpoint-down(sm) { 
				margin-bottom: calc($spacer-xl * 3);
			}
			@include media-breakpoint-down(sm) { 
				margin-bottom: calc($spacer-sm * 3);
			}
			.credits-title {
				p {
					margin-bottom: 0px;
				}
			}
			.credits-content {
				p {
					margin-bottom: 0px;
					@extend %small;
				}
			}
		}
	}
	.projects-navigation {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		a {
			display: flex;
			flex-direction: column;
			&:hover {
				color: $color-dark-grey;
				p {
					color: $color-dark-grey;
				}
			}
			&.prev-link {
				margin-right: auto;
			}
			&.next-link {
				align-items: flex-end;
				p {
					text-align: right;
				}
			}
			p {
				margin-bottom: 0px;
				@extend %small;
			}
		}
	}
	.project-files {
		position: fixed;
		top: calc($spacer / 4);
		right: calc($spacer / 4);
		z-index: 9999;
		// z-index: 2;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		font-family: 'IBM Plex Mono', monospace;
		font-weight: 700;
		@extend %ultrasmall;
		@include media-breakpoint-down(sm) { 
			top: calc($spacer-xl / 4);
			right: calc($spacer-xl / 4);
		}
		@include media-breakpoint-down(sm) { 
			top: 0px;
			right: 0px;
		}
		.project-files-button {
			background-color: $color-light-grey;
			padding: calc($spacer / 2);
			display: flex;
			margin-bottom: 1px;
			box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
			@include media-breakpoint-down(sm) { 
				padding: calc($spacer-xl / 2);
			}
			@include media-breakpoint-down(sm) { 
				padding: 9px;
				box-shadow: none;
				border-left: 2px solid $color-white;
			}
			cursor: pointer;
			&.opened {
				svg {
					&.closed-folder {
						display: none;
					}
					&.open-folder {
						display: inline;
					}
				}
			}
			svg {
				width: calc($spacer * 1.2);
				margin-right: calc($spacer / 2);
				@include media-breakpoint-down(sm) { 
					width: calc($spacer-xl * 1.2);
					margin-right: calc($spacer-xl / 2);
				}
				@include media-breakpoint-down(sm) { 
					width: calc($spacer-sm / 1.5);
					margin-right: calc($spacer-sm / 2);
				}
				&.closed-folder {
					display: inline;
				}
				&.open-folder {
					display: none;
				}
			}
			p {
				margin-bottom: 0px;
			}
		}
		.project-files-content {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			.files-group {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				.files-group-title {
					padding: calc($spacer / 2);
					margin-bottom: 1px;
					display: inline-flex;
					cursor: pointer;
					box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
					background-color: $color-white;
					@include media-breakpoint-down(sm) { 
						padding: calc($spacer-xl / 2);
					}
					@include media-breakpoint-down(sm) { 
						padding: calc($spacer-sm / 2);
					}
					&:hover {
						background-color: $color-light-grey;
					}
					p {
						margin-bottom: 0px;
					}
				}
				.files-group-list {
					display: flex;
					flex-direction: column;
					place-items: flex-end;
					.single-file {
						position: relative;
						padding: calc($spacer / 2);
						margin-bottom: 1px;
						display: flex;
						align-items: flex-end;
						font-weight: 400;
						cursor: pointer;
						box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
						background-color: $color-white;
						margin-right: calc($spacer * 2);
						padding-left: calc($spacer * 2);
						@include media-breakpoint-down(sm) { 
							padding: calc($spacer-xl / 2);
							margin-right: calc($spacer-xl * 2);
							padding-right: calc($spacer-xl * 2);
						}
						@include media-breakpoint-down(sm) { 
							padding: calc($spacer-sm / 2);
							margin-right: calc($spacer-sm * 2);
							padding-right: calc($spacer-sm * 2);
						}
						&.current:before {
							content: "• ";
							position: absolute;
							left: .65em;
						}
						&:hover {
							background-color: $color-light-grey;
						}
						&.active {
							padding-right: 0px;
							padding-left: calc($spacer * 2);
							@include media-breakpoint-down(sm) { 
								padding-left: calc($spacer-xl * 2);
							}
							@include media-breakpoint-down(sm) { 
								padding-left: calc($spacer-sm * 2);
							}
						}
						p {
							margin-bottom: 0px;
						}
					}
				}
			}
		}
	}

}